body{
    background-color: lightgray;
}

.ms_bg{
    background-color: rgb(6, 122, 111);
    height: 30vh;
}

.ms_heigth{
    height: 100%;
}

.ms_img{
   width: 100px;
   height: 100px;
   object-fit: fill;
   border-radius: 50%;
}

.ms_bg-img{
    background-color: lightgray;
    height: 18vh;
}

.ms_icon-width{
    width: 1.5rem;
    color: grey;
}

.ms_cursor{
    cursor: pointer;
}

.ms_pt-43{
    padding-top: 43px;
}

.ms_bg-active-notifications{
    background-color: rgb(142, 218, 252);
    height: 13vh;
}

.ms_bg-white{
    background-color: white;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding: 1px;
}

.ms_icon-width-2{
    color: rgb(142, 218, 252);
    cursor: pointer; 
    display: flex;
    justify-content: center;
    padding: 13px;
}

.ms_inline{
    display: inline-block;
}

.ms_link{
    color: grey;
}

.ms_middle{
    vertical-align: middle;
}

.ms_width-input{
    width: 90%;
    height: 40px;
    border: 0;
}

.ms_pl-1{
    padding-left: 20px;
}

.ms_bg-img2{
    background-color: lightgray;
    height: 18vh;
    margin-left: -12px;
    width: 880px;
    border-left: 1px solid grey;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 20px;
}

.ms_bg-3{
    background-image: url(../img/mine.jpg);
    height: 170vh;
    margin-left: -12px;
}

.ms_bg_v-for{
    background-color: white;
}

.ms_pl-5{
    padding-left: 10px;
}

.message-sent{
    background-color: rgb(213, 249, 186);
    width: 380px;
    border-radius: 20px;
    height: 80px;
}

.ms_pt8{
    padding-top: 80px;
    padding-right: 60px;
}

.ms_pt-1_pr-8{
    padding-top: 10px;
    padding-right: 60px;
}

.message-received{
    background-color: white;
    width: 380px;
    border-radius: 20px;
    height: 80px;
}

.ms_pt-2{
    padding-top: 20px;
}

